<div class="orders-table mat-elevation-z8"  *ngIf="dataSource && dataSource.data.length >= 0; else emptyTable">

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="email">
      <mat-header-cell mat-sort-header *matHeaderCellDef > {{'users-table.email' | translate }} </mat-header-cell>
      <mat-cell  *matCellDef="let user"> {{user.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="prefijo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'users-table.prefix' | translate }}  </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.prefix_file }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="estado">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'users-table.status' | translate }}  </mat-header-cell>
      <mat-cell *matCellDef="let user"> Activo </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let user">
        <button mat-button color="accent" (click)="openDialog(user)">
          <i class="material-icons">
            create
          </i></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let user; columns: displayedColumns;"></mat-row>
  </table>

  <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
</div>

<ng-template #emptyTable>
  <div class="user-center-loading">
    <mat-spinner [diameter]="100"></mat-spinner>
  </div>
</ng-template>
