.update-order-form {
  background-color: #424242;

  h3{
    color: white;
    text-align: center;
    padding-top: 20px;
  }

  .form-field-up-order{
    width: 80%;
    margin: 3% 3% 3% 10%;
  }

  .msg-result{
    padding-bottom: 16px;
    text-align: center;
  }

  .login__submit{
    margin-left: 7.5rem;
  }
}

