<mat-form-field class="filter-input" *ngIf="dataSource && dataSource.data.length > 0">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="orders-table mat-elevation-z8"  *ngIf="dataSource && dataSource.data.length > 0; else emptyTable">

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

    <ng-container matColumnDef="ordenId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'orders-table.orderId' | translate }} </mat-header-cell>
      <mat-cell  *matCellDef="let orden"> {{orden.orden_id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="destinatario">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'orders-table.receiver' | translate }}  </mat-header-cell>
      <mat-cell *matCellDef="let orden"> {{orden.cliente.nombre + ' ' + orden.cliente.apellido }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechaRecibido">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'orders-table.receivedDate' | translate }}  </mat-header-cell>
      <mat-cell *matCellDef="let orden"> {{orden.fecha_recibido}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechaEntregado">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'orders-table.deliveredDate' | translate }}  </mat-header-cell>
      <mat-cell *matCellDef="let orden"> {{orden.fecha_entregado}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="direccion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'orders-table.address' | translate }}  </mat-header-cell>
      <mat-cell *matCellDef="let orden"> {{orden.cliente.direccion}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="estado">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'orders-table.status' | translate }}  </mat-header-cell>
      <mat-cell *matCellDef="let orden">
        <mat-chip-list>
          <mat-chip *ngIf="orden.estado === 'NEW'">{{'order.new' | translate }}</mat-chip>
          <mat-chip *ngIf="orden.estado === 'ON_WAY'">{{'order.onWay' | translate }}</mat-chip>
          <mat-chip *ngIf="orden.estado === 'DELIVERED'" color="accent" selected>{{'order.delivered' | translate }}</mat-chip>
          <mat-chip *ngIf="orden.estado === 'COMPLETED'" color="primary" selected>{{'order.completed' | translate }}</mat-chip>
        </mat-chip-list>
         </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let orden">
        <button mat-mini-fab color="accent" *ngIf="orden.estado === 'NEW'"  (click)="editOrder(orden)">
          <i class="material-icons">
            create
          </i></button>
        <button mat-mini-fab color="warn" class="btn-table" *ngIf="orden.estado === 'NEW'" (click)="deleteOrder(orden.orden_id)">
          <i class="material-icons">
            delete
          </i></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let orden; columns: displayedColumns;"></mat-row>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
</div>

<ng-template #emptyTable>
  <div class="orders-table not-fount-records" > {{ 'notHaveOrdersMsg' | translate }}</div>
</ng-template>
