@import "mixins";

table{
  width: 100%;

  tr.order-detail-row {
    height: 0;
  }

  tr.order-row:not(.example-expanded-row):hover {
    background: #606060;
  }

  tr.order-row:not(.example-expanded-row):active {
    background: #606060;
  }

  .order-row td {
    border-bottom-width: 0;
  }

  .order-detail {
    overflow: hidden;
    display: flex;
  }

  .order-description{
    padding: 10px;
    font-weight: bold;
    font-size: 13px;

    .description-field{
      padding: 8px;
    }
  }
}

.orders-table{
  margin-bottom: 2rem;
}

.filter-input{
  width: 98%;
  padding: 1%;
  background-color: $gray-material;
  color: $white;
}
