<div class="login">
  <div class="login__check"></div>
  <p *ngIf="showError" class="msg-error">{{'loginError' | translate}}</p>
  <div class="login__form" [@fadeInOut]>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="login__row">
        <mat-form-field class="full-width-input" >
          <input matInput type="email" placeholder="{{'emailInput' | translate}}" class="login__input" formControlName="email" required>
          <i class="material-icons md-24 md-light">person_outline</i>
          <mat-error *ngIf="isFieldInvalid('email')">
            {{'emailInpuError' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="login__row">
        <mat-form-field class="full-width-input">
          <input matInput type="password" class="login__input pass" placeholder="{{'passInput' | translate}}" formControlName="password" required>
          <i class="material-icons md-24 md-light">vpn_key</i>
          <mat-error *ngIf="isFieldInvalid('password')">
            {{'passInputError' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <button *ngIf="login" mat-raised-button color="primary" class="login__submit">{{'loginBtn' | translate}}</button>
      <div class="login__submit" *ngIf="!login">
        <mat-spinner [diameter]="40" class="login__submit" style="margin:10px auto;"></mat-spinner>
      </div>
    </form>
  </div>
</div>
