<div class="orders-table mat-elevation-z8"  *ngIf="dataSource && dataSource.data.length >= 0; else emptyTable">

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="patente">
      <mat-header-cell mat-sort-header *matHeaderCellDef > {{'moviles-table.id' | translate }} </mat-header-cell>
      <mat-cell  *matCellDef="let movil"> {{movil.patente}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="conductor">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'moviles-table.driver' | translate }}  </mat-header-cell>
      <mat-cell *matCellDef="let movil"> {{movil.nombre }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="capacidad">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'moviles-table.weight' | translate }}  </mat-header-cell>
      <mat-cell *matCellDef="let movil"> {{movil.peso}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let movil">
        <button mat-button color="accent" >
          <i class="material-icons">
            create
          </i></button>
        <button mat-button color="warn" (click)="deleteMovil(movil._id)">
          <i class="material-icons">
            delete
          </i></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let movil; columns: displayedColumns;"></mat-row>
  </table>

  <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
</div>

<ng-template #emptyTable>
  <div class="center-loading">
    <mat-spinner [diameter]="100"></mat-spinner>
  </div>
</ng-template>
