@import "mixins";

table {
  width: 100%;

  tr.order-detail-row {
    height: 0;
  }

  .mat-button{
    min-width: 48px;
  }

  .order-row td {
    border-bottom-width: 0;
  }

  .cdk-column-acciones {
    flex: 0 0 110px;
  }

  .cdk-column-capacidad {
    flex: 0 0 110px;
  }

  .cdk-column-patente {
    flex: 0 0 110px;
  }
}

.center-loading{
  margin-top: 10rem;
  margin-left: 19rem;
}

.orders-table{
  margin-bottom: 2rem;
}

.filter-input{
  width: 98%;
  padding: 1%;
  background-color: $gray-material;
  color: $white;
}
.not-fount-records{
  text-align: CENTER;
  margin-top: 4rem;
  font-size: 20px;
  color: #424242;
}
