<h1 mat-dialog-title>Agregar Orden</h1>
<div mat-dialog-content>
  <p>Quien y donde lo recibe</p>
  <form #orderForm="ngForm" (ngSubmit)="onSubmit()" >
    <div>
      <mat-form-field class="full-width-input" >
        <input matInput type="text" placeholder="{{'form.nameInput' | translate}}" class="login__input" id="nombre" required [(ngModel)]="orden.cliente.nombre" name="nombre"  #nombre="ngModel">
        <mat-error [hidden]="!(!nombre.valid  && nombre.touched) || !(!nombre.touched && formSubmitAttempt)">
          {{'form-error.nameInputError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width-input" >
        <input matInput type="text" placeholder="{{'form.addressInput' | translate}}" class="login__input" id="domicilio" required  [(ngModel)]="orden.cliente.direccion" name="domicilio" #domicilio="ngModel">
        <mat-error [hidden]="!(!nombre.valid  && nombre.touched) || !(!nombre.touched && formSubmitAttempt)">
          {{'form-error.addressInputError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width-input" >
        <input matInput type="email" placeholder="{{'form.emailInput' | translate}}" class="login__input" id="email" required  [(ngModel)]="orden.cliente.email" name="email" #email="ngModel">
        <mat-error [hidden]="!(!nombre.valid  && nombre.touched) || !(!nombre.touched && formSubmitAttempt)">
          {{'form-error.emailInputError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width-input" >
        <input matInput type="number" placeholder="{{'form.weightInput' | translate}}" class="login__input" id="peso" required [(ngModel)]="orden.peso_total" name="peso" #peso="ngModel">
        <mat-error [hidden]="!(!nombre.valid  && nombre.touched) || !(!nombre.touched && formSubmitAttempt)">
          {{'form-error.weightInputError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{ 'cancelBtn' | translate }}</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial [disabled]="!orderForm.form.valid">{{'addBtn' | translate }}</button>
</div>
