.acc-form{

  h3{
    margin-left: 10px;
  }

  .list-title{
    margin-bottom: 20px;
  }

  .divider-form{
    margin: 30px;
  }

  .acc__submit{
    left: 44%;
    margin-bottom: 28px;
  }

  .acc-row {
    margin-left: 100px;
    margin-right: 140px;
  }

  .acc-input{
    width: 190%;
  }
}

