<div class="create-acc">
  <p *ngIf="showError" class="msg-error">{{'createAccError' | translate}}</p>
  <div class="create-acc__form"  [@fadeInOut]>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="create-acc__row">
        <mat-form-field class="full-width-input" >
          <input matInput type="email" placeholder="{{'form.emailInput' | translate}}" class="create-acc__input" formControlName="email" required>
          <mat-error *ngIf="isFieldInvalid('email')">
            {{'form-error.emailInputError' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="create-acc__row">
        <mat-form-field class="full-width-input" >
          <input matInput placeholder="{{'form.nameInput' | translate}}" class="create-acc__input" formControlName="nombre" required>
          <mat-error *ngIf="isFieldInvalid('nombre')">
            {{'form-error.nameInputError' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="create-acc__row">
        <mat-form-field class="full-width-input" >
          <input matInput placeholder="{{'form.dniInput' | translate}}" class="create-acc__input" formControlName="dni" required>
          <mat-error *ngIf="isFieldInvalid('dni')">
            {{'form-error.dniInputError' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="create-acc__row">
        <mat-form-field class="full-width-input" >
          <input matInput placeholder="{{'form.addressInput' | translate}}" class="create-acc__input" formControlName="direccion" required>
          <mat-error *ngIf="isFieldInvalid('direccion')">
            {{'form-error.addressInputError' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="create-acc__row">
        <mat-form-field class="full-width-input" >
          <input matInput placeholder="{{'form.cityInput' | translate}}" class="create-acc__input" formControlName="localidad" required>
          <mat-error *ngIf="isFieldInvalid('localidad')">
            {{'form-error.cityInputError' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="create-acc__row">
        <mat-form-field class="full-width-input">
          <input matInput type="password" class="create-acc__input" placeholder="{{'form.passInput' | translate}}" formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('password')">
            {{'form-error.passInputError' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <button *ngIf="!submitted" mat-raised-button color="primary" class="create-acc__submit">{{'createAccFormBtn' | translate}}</button>
      <div *ngIf="submitted" class="create-acc__submit">
        <mat-spinner [diameter]="40" class="create-acc__submit" style="margin:10px auto;"></mat-spinner>
      </div>
    </form>
  </div>
</div>
