$openSans: 'Open Sans', Helvetica, Arial, sans-serif;
@import "mixins";

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.msg-error{
  position: absolute;
  top: 25rem;
  left: 5.5rem;
  width: 30rem;
  height: 2.8rem;
  font-size: 20px;
  color: white;
}

i {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  overflow: visible;
}

input, button {
  outline: none;
  border: none;
}

.content {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url('/src/assets/images/background.jpg');
  background-size: cover;
  font-family: $openSans;
}

.demo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15rem;
  margin-top: -26.5rem;
  width: 30rem;
  height: 53rem;
  overflow: hidden;

  .signup {
    position: absolute;
    top: 84%;
    left: 22%;
    font-size: 1rem;
    color: #ABA8AE;

    a {
      color: #fff;
      cursor: pointer;
    }
  }



}

